body {
    background-color: aquamarine;
}
.choose {
    background-color: lightgreen;
    width: fit-content;
    padding: 30px 40px;
    margin: 100px auto 0;
    font-size: 20px;
    border-radius: 25px;
} 
.choose label:not(:first-child) {
    margin-left: 20px;
}
.choose select {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #333;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
}
.choose select:focus {
    outline: none;
}
.text {
    width: 85%;
    background-color: white;
    margin: 30px auto;
    padding: 5px 20px;
    line-height: 1.8;
    border-radius: 25px;
    word-spacing: 2px;
    text-align: center;
    font-family: "Open Sans";
}